
report/SmartPromptReport.aux
report/SmartPromptReport.log
report/SmartPromptReport.synctex.gz
.DS_Store
alt_report/SmartPromptReport.aux
alt_report/SmartPromptReport.log
alt_report/SmartPromptReport.synctex.gz
alt_report/SmartPromptReport.toc
